</div>
    <link href="/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="/json2.js" type="text/javascript"></script>
    <script src="/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerTextBox.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerDateEditor.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerSpinner.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerTab.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerFilter.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="/ligerUI/js/core/inject.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerButton.js" type="text/javascript"></script>
    <script src="/ligerUI/js/plugins/ligerListBox.js" type="text/javascript"></script>
    <script src="/ligerUI/js/ligerui.min.js" type="text/javascript"></script>
    <link href="/ligerUI/skins/Gray/css/all.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.form.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.params.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.ligerDialog.close("#deliverPop");
        $.ligerDialog.close("#shipperPop");
        $.ligerDialog.close("#forwarderPop");

        var user;
        $(function (){
            $.get('/queryUndispatchedBillsByDept', null, listCallBack, "json");
        });

        var billsData=[];
        var BillstatusList = [{ statusID: '预约', statusName: '预约' }, { statusID: '收件中', statusName: '收件中' }, { statusID: '收入', statusName: '收入' }, { statusID: '入库', statusName: '入库' }, { statusID: '在库', statusName: '在库' }, { statusID: '在途', statusName: '在途' }, { statusID: '派件中', statusName: '派件中' }, { statusID: '已承运', statusName: '已承运' }, { statusID: '已转运', statusName: '已转运' }, { statusID: '签收', statusName: '签收' } ];
        function listCallBack(data){
            billsData.length=0;
            
            billsData=data.empdata;
            billsData.push.apply( billsData, data.netdata );
            billsData.push.apply(billsData, data.reminddata);
            f_initGrid();
            $("#pageloading").hide();
        }

        var manager, g;
        function f_initGrid()
        { 
           g =  manager = $("#maingrid").ligerGrid({
                columns: [
                { display: '订单编号', name: 'billId', width: 200, type: 'text' },
                { display: '揽件员', name: 'sdeliverId', width: 80, type: 'text' },
                { display: '收件网点', name: 'netId', width: 80, type: 'text' },
                { display: '承运商', name: 'cyId', width: 80   },
                { display: '转运商', name: 'forwarder', width: 80   },
                { display: '起始时间', name: 'sdate', width: 120 ,type: 'date'  },
                { display: '订单状态', name: 'billState', width: 50 , 
                    editor: { type: 'select', data: BillstatusList, valueField: 'statusID', textField: 'statusName' }, render: function (item)
                        {
                            for (var i = 0; i < BillstatusList.length; i++)
                            {
                                if (BillstatusList[i]['statusID'] == item.billState)
                                    return BillstatusList[i]['statusName']
                            }
                            return item.statusName;
                        }
                },
                { display: '客户编号', name: 'compId', width: 80, type: 'text' },
                { display: '货物类型', name: 'goodsType', width: 50, type: 'text' },
                { display: '重量', name: 'weight', width: 40, type: 'float' },
                { display: '体积', name: 'volume', width: 40, type: 'float' },
                { display: '加急费用', name: 'urgentFee', type: 'digits',  width: 50 },
                { display: '发件地址', name: 'cusAdd', type: 'text',  width: 250 },
                { display: '收件地址', name: 'recAdd', type: 'text',  width: 250 }
                ],
                enabledEdit: true, checkbox:true, rownumbers:true, enabledEdit: true, 
                isScroll: false,  frozen:false,
                data: { Rows: billsData },
                toolbar: { items: [
                { text: '历史订单', click: hisclick },
                { text: '订单分派', click: dispatch },
                { text: '高级自定义查询', click: itemclick }]
                },
                pageSize:30, height: 700,
                width: '100%'
            });   
        }

        function itemclick()
        {
            g.options.data = { Rows: billsData };
            g.showFilter();
        }

        function hisclick(){
            $.get('/queryHisBillsByDept', null, listCallBack, "json");
        }

        function dispatch(){
            $.get('/queryUndispatchedBillsByDept', null, listCallBack, 'json');
        }

        function selectDelivery (){
            var job="快递员";
            var data={
                job:job
            }
            $.post('/queryByDeptAndJob',data, queryDiliversCallBack, "json" );
        }

        var deliverData=[];
        function queryDiliversCallBack(data){
            deliverData.length=0;
            deliverData=data;
            // alert(deliverData);
            f_initPopGrid();
            // f_show();
            $.ligerDialog.open({title:'选择一个快递员', target: $("#deliverPop"),width:500});
        }

        var d, empId;
        function f_initPopGrid(){
            d =$("#deliverPop").ligerGrid({
                columns: [
                    { display: '员工编号', name: 'empId', width: 100 },
                    { display: '姓名' , name: 'empName', width:100},
                    { display: '负责区域', name: 'responArea', width: 200 }
                    ],  
                    data: {Rows: deliverData}, isScroll: true, 
                    toolbar: { items: [{ text: '提交', click: submitDeliver }]
                    },
                    width: '100%',
                    dataAction: 'server', pageSize: 30,
                    sortName: 'empId',allowUnSelectRow:true,
                    onSelectRow: function (data, rowindex, rowobj)
                    {
                        empId=data.empId;
                    }
            });
        }



        function submitDeliver(){
            
            if (!manager.getSelectedRows() || !empId) {
                alert("请至少选择一个订单和最多一个快递员");
            }else{
                var billrow=[];
                billrow=manager.getSelectedRows();
                var i=billrow.length;
                var bills="(";
                while(--i){
                    bills += billrow[i].billId;
                    bills +=',';
                }
                bills+=billrow[0].billId;
                bills+=')';

                // var emprow=d.getSelectedRow();
                // var empId=emprow.empId;
                // var empId

                var data={
                    bills: bills,
                    empId: empId
                }
                $.post('/setBillSdeliver', data, setCallBack, "json");
            }
        }

        function setCallBack(data){
            $.ligerDialog.success(data.meg);
            if (data.code==200) {
                $.get('/queryUndispatchedBillsByDept', null, listCallBack, "json");
            };
             $.ligerDialog.hide("#deliverPop");
        }

        // 选择合适的承运商（快递公司）
        function selectShipper(){
            $.get('/queryShipper', null, queryShipperCallBack, "json");
        }

        var shipperData=[];
        function queryShipperCallBack(data){
            shipperData.length=0;
            shipperData=data;
            f_initPopGrid1();
            $.ligerDialog.open({title:'选择一个承运商', target: $("#shipperPop"),width:500});
        }

        var s, cyId;
        function f_initPopGrid1(){
            s =$("#shipperPop").ligerGrid({
                columns: [
                    { display: '编号', name: 'cyId', width: 100 },
                    { display: '公司名称', name:'name', width: 100}
                    ], 
                    data: {Rows: shipperData}, isScroll: true, 
                    toolbar: { items: [{ text: '提交', click: submitShipper }]
                    },
                    width: '100%',dataAction: 'server', pageSize: 30,
                    sortName: 'cyId',allowUnSelectRow:true,
                    onSelectRow: function (data, rowindex, rowobj)
                    {
                        cyId=data.cyId;
                    }
            });
        }

        function submitShipper(){
            if (!manager.getSelectedRows() || !cyId) {
                alert("请至少选择一个订单和最多一个承运商");
            }else{
                var billrow=[];
                billrow=manager.getSelectedRows();
                var i=billrow.length;
                var bills="(";
                while(--i){
                    bills += billrow[i].billId;
                    bills +=',';
                }
                bills+=billrow[0].billId;
                bills+=')';

                // var cyrow=s.getSelectedRow();
                // var cyId=cyrow.cyId;

                var data={
                    bills: bills,
                    cyId: cyId
                }
                // alert(JSON.stringify(data));
                $.post('/setBillsShipper', data, setCallBack1, "json");
            }
        }

        function setCallBack1(data){
            
            if (data.code==200) {
                $.ligerDialog.success(data.meg);
                $.get('/queryUndispatchedBillsByDept', null, listCallBack, "json");
            }else
            {
                $.ligerDialog.err(data.meg);
            }
            $.ligerDialog.hide("#shipperPop");
        }

        // 选择合适的转运商（物流公司）
        function selectForwarder(){
            $.get('/queryForwarder', null, queryForwarderCallBack, "json");
        }
            
        var forwarderData=[];    
        function queryForwarderCallBack(data){
            forwarderData.length=0;
            forwarderData=data;
            f_initPopGrid2();
            $.ligerDialog.open({title:'选择一个转运商', target: $("#forwarderPop"),width:500});
        }

        var forwarder, zyId;
        function f_initPopGrid2(){
            forwarder =$("#forwarderPop").ligerGrid({
                columns: [
                    { display: '编号', name: 'zyId', width: 100 },
                    { display: '公司名称', name:'name', width: 100}
                    ], 
                    data: {Rows: forwarderData}, isScroll: true, 
                    toolbar: { items: [{ text: '提交', click: submitForwarder }]
                    },
                    width: '100%',dataAction: 'server', pageSize: 30,
                    sortName: 'zyId',allowUnSelectRow:true,
                    onSelectRow: function (data, rowindex, rowobj)
                    {
                        zyId=data.zyId;
                    }
            });
        }

        function submitForwarder(){
            if (!manager.getSelectedRows() || zyId) {
                alert("请至少选择一个订单和最多一个转运商");
            }else{
                var billrow=[];
                billrow=manager.getSelectedRows();
                var i=billrow.length;
                var bills="(";
                while(--i){
                    bills += billrow[i].billId;
                    bills +=',';
                }
                bills+=billrow[0].billId;
                bills+=')';

                // var zyrow=forwarder.getSelectedRow();
                // var zyId=zyrow.zyId;

                var data={
                    bills: bills,
                    zyId: zyId
                }
                $.post('/setBillsForwarder', data, setCallBack2, "json");
            }
        }

        function setCallBack2(data){
            if (data.code==200) {
                $.ligerDialog.success(data.meg);
                $.get('/queryUndispatchedBillsByDept', null, listCallBack, "json");
            }else{
                $.ligerDialog.err(data.meg);
            }
            $.ligerDialog.hide("#forwarderPop");
        }

        /*货物手动装车*/
        var url="/distribute";
        function distribute(){
            var billrow=[];
            billrow=manager.getSelectedRows();
            if (billrow.length==0) {
                alert("请至少选择一个订单");
            };


            var i=billrow.length;
            var bills="(";
            while(--i){
                bills += billrow[i].billId;
                bills +=',';
            }
            bills+=billrow[0].billId;
            bills+=')';

            url="/distribute?bills="+bills;
            var winobj=window.open(url, "_blank");
            winobj.location.herf=url;
        }
        /*
        function selectCar(){
            $.get('/queryFreeCar', null, "json");
        }

        var carData=[]; 
        function queryFreeCarCallBack(data){
            if (data.code==200) {
                carData.length=0;
                carData=data.data;
                f_initPopGrid3();
                $.ligerDialog.open({title:'选择一辆空闲的卡车', target:$("#carPop"), width:500});
            }else{
                $.ligerDialog.error(data.meg);
            }
        }

        var car, carId;
        function f_initPopGrid3(){
            car =$("#carPop").ligerGrid({
                columns:[
                {display: '编号', name:'carId', width:100 },
                {display: '车长', name:'carLen', width:100 },
                {display: '车牌号', name:'carNo', width:100 }
                ],
                data:{ Rows: carData }, isScroll:true, 
                toolbar:{items:[{text:'提交', click: selectDriver }]
                },
                width: '100%',dataAction: 'server', pageSize: 30,
                    sortName: 'carId',allowUnSelectRow:true,
                    onSelectRow: function (data, rowindex, rowobj)
                    {
                        carId=data.carId;
                    }
            });
        }

        function selectDriver(){
            $.ligerDialog.hide("#forwarderPop");
            $.get('/queryFreeDriver', null, queryFreeDriverCallBack, "json");
        }

        var driverData;
        function queryFreeDriverCallBack(data){
            if (data.code==500) {
                $.ligerDialog.err(data.meg);
                $.ligerDialog.hide("#forwarderPop");
            }else if(data.code==200){
                driverData=data.data;
                f_initPopGrid4();
                $.ligerDialog.open({title:'选择货车司机', target: $("#driverPopListbox1, #driverPopListbox2"),width:500});
            }
        }

        function f_initPopGrid4(){
            driver=$("#driverPopListbox1,#driverPopListbox2").ligerListBox({
                isShowCheckBox: true,
                isMultiSelect: true,
                height: 140
            });
            liger.get("driverPopListbox1").setData(driverData);
        }

        function moveToLeft()
       {
           var box1 = liger.get("driverPopListbox1"), box2 = liger.get("driverPopListbox2");
           var selecteds = box2.getSelectedItems();
           if (!selecteds || !selecteds.length) return;
           box2.removeItems(selecteds);
           box1.addItems(selecteds);
       }
       function moveToRight()
       {
           var box1 = liger.get("driverPopListbox1"), box2 = liger.get("driverPopListbox2");
           var selecteds = box1.getSelectedItems();
           if (!selecteds || !selecteds.length) return;
           box1.removeItems(selecteds);
           box2.addItems(selecteds);
       }
       function moveAllToLeft()
       { 
           var box1 = liger.get("driverPopListbox1"), box2 = liger.get("driverPopListbox2");
           var selecteds = box2.data;
           if (!selecteds || !selecteds.length) return;
           box1.addItems(selecteds);
           box2.removeItems(selecteds); 
       }
       function moveAllToRight()
       { 
           var box1 = liger.get("driverPopListbox1"), box2 = liger.get("driverPopListbox2");
           var selecteds = box1.data;
           if (!selecteds || !selecteds.length) return;
           box2.addItems(selecteds);
           box1.removeItems(selecteds);
           
       }

        function submitCar(){
            if (!manager.getSelectedRows() || !carId) {
                alert("请至少选择一个订单和最多一个货车");
            }else{
                var billrow=[];
                billrow=manager.getSelectedRows();
                var i=billrow.length;
                var bills="(";
                while(--i){
                    bills += billrow[i].billId;
                    bills +=',';
                }
                bills+=billrow[0].billId;
                bills+=')';

                var carow=car.getSelectedRow();
                var carId=carow.carId;

                var data={
                    bills: bills,
                    carId: carId
                }
                $.post('/addFreight', data, setCallBack3, "json");
            }
        }

        function setCallBack3(data){
            if (data.code==200) {
                $.ligerDialog.success(data.meg);
                $.get('/queryUndispatchedBillsByDept', null, listCallBack, "json");
            }else
            {
                $.ligerDialog.err(data.meg);
            }
            $.ligerDialog.hide("#forwarderPop");
        }
        */

        function f_show(){
            $("#deliverPop").css('display','block');
        }

    </script>

    <style type="text/css">
        .l-table-edit {}
        .l-table-edit-td{ padding:4px;}
        .l-button-submit,.l-button-reset{width:80px; float:left; margin-left:10px; padding-bottom:2px;}
        .l-dialog-tc{background:#E0EDFF;}
    </style>

<div  style="padding:10px">
<div id="deliverPop" style="display:none; height=1600px;" ></div>
<div id="forwarderPop" style="display:none; height=1600px;" ></div>
<div id="shipperPop" style="display:none; height=600px;" ></div>
<div id="carPop" style="display:none; height=600px;" ></div>
</div>
</div>

<div class="header">
    <h1 class='article-title'>经理业务管理</h1>
    <h2>部门：<%= user.deptId %></h2>
    <h3>   订单分派</h3>
</div>

<div id="maingrid" style="margin-top:20px; margin-left:25px "></div>
<a class="l-button" style="width:80px;float:left; margin-left:25px; margin-top:6px;"  onclick="selectDelivery()">分配揽件员</a>
<a class="l-button" style="width:80px;float:left; margin-left:6px; margin-top:6px;"  onclick="selectShipper()">分配承运商</a>
<a class="l-button" style="width:80px;float:left; margin-left:6px; margin-top:6px;"  onclick="selectForwarder()">分配转运商</a>
<a class="l-button" style="width:80px;float:left; margin-left:6px; margin-top:6px;"  onclick="distribute()">线路配车</a>
<div class="content">
</div>



<div style="display:none;">
  <!-- g data total ttt -->
    <input name="user" id="user" value=<%= JSON.stringify(user) %> />
</div>